body {
  background-color: #f3f3f3;
}

body .main {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  color: #383838;
  font-weight: 600;
}

body .main .login {
  height: 100vh;
  width: 100vw;
}

body .main .login .canva {
  width: 40vw;
  height: 100vh;
  background-color: red;
  float: left;
}

body .main .login .form {
  width: 60vw;
  height: 100vh;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .navigation {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .main .navigation .logo {
  float: left;
  height: 70px;
  width: 20%;
}

body .main .navigation .navi {
  float: left;
  height: 70px;
  font-size: larger;
  width: 40%;
}

body .main .navigation .navi ul {
  text-decoration: none;
}

body .main .navigation .navi ul li {
  list-style: none;
  text-decoration: none;
  float: left;
  width: 25%;
}

body .main .navigation .navi ul li a {
  text-decoration: none;
  color: #383838;
}

body .main .navigation .cartIco {
  float: left;
  height: 70px;
  width: 20%;
  color: black;
}

body .main .navigation .cartIco ul {
  text-decoration: none;
}

body .main .navigation .cartIco ul li {
  list-style: none;
  text-decoration: none;
  float: left;
  width: 25%;
}

body .main .mobileNav {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .main .mobileNav .logo {
  float: left;
  height: 70px;
  width: 20%;
}

body .main .mobileNav .cartIco {
  float: left;
  height: 70px;
  width: 20%;
  color: black;
}

body .main .mobileNav .cartIco ul {
  text-decoration: none;
}

body .main .mobileNav .cartIco ul li {
  list-style: none;
  text-decoration: none;
  float: left;
  width: 25%;
}

body .main .header {
  background-color: transparent;
  min-height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .header .headerContainer {
  background-color: #1d1d1d;
  height: 65vh;
  width: 95vw;
  border-radius: 40px;
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
}

body .main .header .headerContainer .headerContainerGlass {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  height: 65vh;
  width: 95vw;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .header .headerContainer .headerContainerGlass .navHeader {
  color: white;
  height: 100px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .header .headerContainer .headerContainerGlass .navHeader .filter {
  height: 100px;
  font-size: 12px;
}

body .main .header .headerContainer .headerContainerGlass .properties {
  min-height: 140vh;
  width: 100%;
}

body .productListing {
  min-height: 100vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .productListing .addon1 {
  width: 10vw;
  min-height: 100vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .productListing .addon1 p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body .productListing .addon2 {
  width: 10vw;
  min-height: 100vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .productListing .addon2 p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body .productListing .mainaddon {
  width: 90vw;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: transparent;
}

.primary {
  background-color: red;
}

.ViewProduct .viewProductDetails {
  width: 65vw;
  float: left;
  min-height: 100vh;
}

.ViewProduct .viewProductDetails .mainImage {
  height: 70vh;
  width: 65vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ViewProduct .viewProductDetails .mainImage img {
  height: 98%;
  border-radius: 20px;
}

.ViewProduct .viewProductDetails .changeImg {
  width: 65vw;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ViewProduct .viewProductDetails .changeImg .nextImg {
  height: 100px;
  width: 100px;
  border: solid 1px;
}

.ViewProduct .viewProductDetails .changeImg .nextImg img {
  height: inherit;
  width: inherit;
}

.ViewProduct .Productprice {
  width: 30vw;
  float: left;
  min-height: 100vh;
}

.ViewProduct .Productprice .Count {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.adminConsole {
  width: 100%;
  min-height: 100vh;
}

.adminConsole .sidebar {
  width: 25vw;
  float: left;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adminConsole .sidebar .close {
  width: 100%;
  height: 7vh;
  background-color: black;
}

.adminConsole .sidebar .menu {
  height: 91vh;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.378);
  border-radius: 20px;
  box-shadow: 2px 7px 22px -6px rgba(0, 0, 0, 0.433);
  -webkit-box-shadow: 2px 7px 22px -6px rgba(0, 0, 0, 0.419);
  -moz-box-shadow: 2px 7px 22px -6px rgba(0, 0, 0, 0.501);
}

.adminConsole .body {
  width: 70vw;
  min-height: 100vh;
  float: left;
}
/*# sourceMappingURL=main.css.map */