$primaryFontColor : rgb(56, 56, 56);


body {

    background-color: rgb(243, 243, 243);
    // background-color: #E4EBF6;

    .main {

        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(50px);
        color: $primaryFontColor;
        font-weight: 600;

        .login {
            height: 100vh;
            width: 100vw;

            .canva {
                width: 40vw;
                height: 100vh;
                background-color: red;
                float: left;
            }

            .form {
                width: 60vw;
                height: 100vh;
                float: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }


        .navigation {
            // position:    ;
            height: 70px;
            width: 100%;
            display: flex;
            // background-color: black;

            justify-content: space-evenly;

            .logo {
                float: left;
                height: 70px;
                width: 20%;
            }

            .navi {
                float: left;
                height: 70px;
                font-size: larger;
                width: 40%;

                ul {
                    text-decoration: none;

                    li {
                        list-style: none;
                        text-decoration: none;
                        float: left;
                        width: 25%;

                        a {
                            text-decoration: none;
                            color: $primaryFontColor;
                        }
                    }
                }
            }

            .cartIco {
                float: left;
                height: 70px;
                width: 20%;
                color: black;

                ul {
                    text-decoration: none;

                    li {
                        list-style: none;
                        text-decoration: none;
                        float: left;
                        width: 25%;
                    }
                }
            }
        }

        .mobileNav {
            // position:    ;
            height: 70px;
            width: 100%;
            display: flex;
            // background-color: black;

            justify-content: space-evenly;

            .logo {
                float: left;
                height: 70px;
                width: 20%;
            }

            .cartIco {
                float: left;
                height: 70px;
                width: 20%;
                color: black;

                ul {
                    text-decoration: none;

                    li {
                        list-style: none;
                        text-decoration: none;
                        float: left;
                        width: 25%;
                    }
                }
            }
        }

        .header {
            background-color: transparent;
            min-height: 90vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .headerContainer {
                background-color: rgb(29, 29, 29);
                height: 65vh;
                // width: 95vw;
                border-radius: 40px;
                box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);

                .headerContainerGlass {
                    background-color: rgba(255, 255, 255, .15);
                    backdrop-filter: blur(50px);
                    height: 65vh;
                    // width: 95vw; 
                    border-radius: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .navHeader {
                        color: white;
                        height: 100px;
                        width: 90%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .filter {
                            height: 100px;
                            font-size: 12px;

                        }
                    }

                    .properties {
                        min-height: 140vh;
                        // background-color: red;
                        width: 100%;
                    }
                }

            }
        }



    }

    .productListing {
        min-height: 100vh;
        background-color: transparent;
        display: flex;
        justify-content: space-evenly;

        .addon1 {
            width: 10vw;
            min-height: 100vh;
            background-color: transparent;
            display: flex;
            align-items: center;

            p {
                transform: rotate(-90deg);
            }
        }

        .addon2 {
            width: 10vw;
            min-height: 100vh;
            background-color: transparent;
            display: flex;
            align-items: center;

            p {
                transform: rotate(-90deg);
            }
        }

        .mainaddon {
            width: 90vw;
            text-align: center;
            justify-content: space-evenly;
            background-color: transparent;
        }


    }
}

.primary {
    background-color: red;
}


.ViewProduct {
    .viewProductDetails {
        width: 65vw;
        float: left;
        min-height: 100vh;

        .mainImage {
            height: 70vh;
            width: 65vw;
            display: flex;
            flex-direction: column;
            align-items: center;

            justify-content: center;

            img {
                height: 98%;
                border-radius: 20px;
            }
        }

        .changeImg {
            width: 65vw;
            height: 120px;
            display: flex;
            flex-direction: row;
            align-items: center;

            justify-content: space-evenly;

            .nextImg {
                height: 100px;
                width: 100px;
                border: solid 1px;

                img {
                    height: inherit;
                    width: inherit;
                }
            }
        }
    }

    .Productprice {
        width: 30vw;
        float: left;
        min-height: 100vh;

        .Count {
            height: 100px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;


        }
    }
}

.adminConsole {
    width: 100%;
    min-height: 100vh;

    .sidebar {
        width: 25vw;
        float: left;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .close {
            width: 100%;
            height: 7vh;
            background-color: rgb(242, 242, 242);
        }

        .menu {
            height: 91vh;
            width: 90%;
            background-color: rgba(255, 255, 255, 0.378);
            border-radius: 20px;
            box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
                -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
            // box-shadow: 2px 7px 22px -6px rgba(0, 0, 0, 0.433);
            // -webkit-box-shadow: 2px 7px 22px -6px rgba(0, 0, 0, 0.419);
            // -moz-box-shadow: 2px 7px 22px -6px rgba(0, 0, 0, 0.501);


        }
    }

    .body {
        width: 70vw;
        min-height: 100vh;
        // background-color: rebeccapurple;
        float: left;
        // display:  flex; 
        // justify-content: center;
        // align-items: center;
    }
}